<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
    <link rel="stylesheet" href="css/login-cadastro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />​
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="../../js/notify.js"></script>
    <script src="js/script.js" defer></script>    
    <script src="js/image-preview.js" defer></script>
    <script src="js/validacao.js" defer></script>
</head>
<body>
    <header>
        <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png" alt="Logo da empresa MUVALL"
                rel="prev"></a>
        <nav>
            <div id="menu-container">
    
                <div></div>
                <div></div>
                <div></div>
    
    
                <ul id="menu-items" class="NaoPropagar">
                    <img src="imagem/delete.png" alt="Fechar" id="close">
                    <%
                    if(autenticado){
                        %> 
                        <li class="NaoPropagar"><a href="painel_adm">Painel Admin</a></li> 
                        <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                        <li class="NaoPropagar"><a href="perfilUsuario" aria-label="Perfil" rel="next">Minha conta</a></li>
                        <li class="NaoPropagar"><a href="/sair">Sair da conta</a></li>
                        <%
                    }else{ %>
                    <li class="NaoPropagar"><a href="login">Entre</a></li>
                    <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
                    <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                    <%
                    }
                    %>
                </ul>
            </div>
        </nav>
    </header>

    <% 
    let msgErro = {"nome_usu":"", "senha_usu":"", dataNascimento_usu:"", senha_usu:""};
    let avisoErro = {"nome_usu":"", "senha_usu":"", dataNascimento_usu:"", senha_usu:""};
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "nome_usu"){
                avisoErro.nome_usu = "erro";
                msgErro.nome_usu += " "+itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
            if(itemErro.path == "senha_usu"){
                avisoErro.senha_usu = "erro";
                msgErro.senha_usu = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%                
            }
            if(itemErro.path == "email_usu"){
                avisoErro.email_usu = "erro";
                msgErro.email_usu = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo e-mail<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
        })
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/"}, 3000)
                }                        
        </script>
    <% } %>

    <main>
        <h1>Cadastro</h1><hr>
        <form action="cadastro" method="post">
            <input type="email" name="email_usu" placeholder="E-Mail:" id="email_usu" required maxlength="100" value="<%= valores.email_usu %>" class="<%= avisoErro.email_usu %>">
            <input type="text" name="nome_usu" placeholder="Nome:" id="nome_usu" required maxlength="100" minlength="3" value="<%= valores.nome_usu %>" class="<%= avisoErro.nome_usu %>">
            <input type="password" name="senha_usu" placeholder="Senha:" id="senha_usu" required maxlength="30" minlength="8" value="<%= valores.senha_usu %>" class="<%= avisoErro.senha_usu %>">
            <aside>
                <ul>
                    <li> Mais de 8 caracteres</li>
                    <li>Letras maiúsculas</li>
                    <li>Letras minúscuilas</li>
                <li>Números</li>
                <li>Símbolos</li>
                </ul>
            </aside>
            <input type="date" name="dataNascimento_usu" placeholder="Data de Nascimento:" id="dataNascimento_usu" required value="<%= valores.dataNascimento_usu %>" class="<%= avisoErro.dataNascimento_usu %>">
            <button type="submit" id="cadastrar-bttn">Cadastrar</button>
        </form>
    </main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
    <!-- <script src="js/cadastro.js"></script> -->
</body>

 <!-- <script>
    function formatCPF(cpf) {
        cpf = cpf.replace(/\D/g, '');
        cpf = cpf.substring(0, 11); 

        if (!/^\d+$/.test(cpf)) { 
            return ''; 
        }

        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); 
        cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2'); 
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2'); 

        return cpf;
    }
    function validarCPF(cpf) {
    cpf = cpf.replace(/[^\d]+/g, ''); // Remove tudo que não é número
    if (cpf.length !== 11 || !/^\d{11}$/.test(cpf)) {
        return false;
    }
    // Calcula o primeiro dígito verificador
    let soma = 0;
    for (let i = 0; i < 9; i++) {
        soma += parseInt(cpf.charAt(i)) * (10 - i);
    }
    let resto = 11 - (soma % 11);
    let digitoVerificador1 = resto === 10 || resto === 11 ? 0 : resto;
    if (digitoVerificador1 !== parseInt(cpf.charAt(9))) {
        return false;
    }
    // Calcula o segundo dígito verificador
    soma = 0;
    for (let i = 0; i < 10; i++) {
        soma += parseInt(cpf.charAt(i)) * (11 - i);
    }
    resto = 11 - (soma % 11);
    let digitoVerificador2 = resto === 10 || resto === 11 ? 0 : resto;
    if (digitoVerificador2 !== parseInt(cpf.charAt(10))) {
        return false;
    }
    return true;
    }
</script> -->

