<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar</title>
    <link rel="stylesheet" href="css/login-cadastro.css">
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
    <link rel="stylesheet" href="css/editar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="../../js/notify.js"></script>
</head>

<body>
    <header>
        <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png" alt="Logo da empresa MUVALL"
                rel="prev"></a>
    
        <nav>
            <div id="menu-container">
    
                <div></div>
                <div></div>
                <div></div>
    
    
            <ul id="menu-items" class="NaoPropagar">
                <img src="imagem/delete.png" alt="Fechar" id="close">
                <li class="NaoPropagar"><a href="perfilUsuario" aria-label="Perfil" rel="next">Minha conta</a></li>
                <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                <li class="NaoPropagar"><a href="login">Entre</a></li>
                <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
            </ul>
            </div>
        </nav>
    </header>
    <section class="foto_user">
        <div id="InserirImg-user">
        <label for="inserirImg"><img src="imagem/perfil_cliente.png" alt="Inserir Imagem"></label>
          <input type="file" id="InserirImg" name="InserirImg" aria-label="Inserir Imagem">
          <h1>Foto</h1>
        </div>
    </section>
    <main>

        <%

        let arquivo = {"imagem":"imagem/img-perfil.png"}
     
        if(valores.img_perfil_pasta != null){
            arquivo.imagem = valores.img_perfil_pasta
        }else if(valores.img_perfil_banco != null){ 
            console.log(valores.img_perfil_banco)
            const imgBuffer = Buffer.from(valores.img_perfil_banco);
            const imgBase64 = imgBuffer.toString('base64');
            const dataURL = `data:image/jpeg;base64,${imgBase64}`;
            arquivo.imagem= dataURL;
        }

        let msgErro = {"nome_usu":"", "email_usu":"",nomeusu_usu:"", fone_usu:""}
        let avisoErro = {"nome_usu":"", "email_usu":"",nomeusu_usu:"", fone_usu:""}
        if(listaErros){
            listaErros.errors.forEach(function(itemErro){
                if(itemErro.path == "nome_usu"){
                    avisoErro.nome_usu = "erro";
                    msgErro.nome_usu += " "+itemErro.msg
                    %>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo nome <br><%= itemErro.msg%>", "error", "center")                        
                    </script>
                    <%
                }
                if(itemErro.path == "fone_usu"){
                    avisoErro.fone_usu = "erro";
                    msgErro.fone_usu = itemErro.msg
                    %>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo Telefone", "error", "center")                        
                    </script>
                    <%
                }
                if(itemErro.path == "nomeusu_usu"){
                    avisoErro.nomeusu_usu = "erro";
                    msgErro.nomeusu_usu = itemErro.msg
                    %>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo nome de usuário", "error", "center")                        
                    </script>
                    <%
                }
                if(itemErro.path == "email_usu"){
                    avisoErro.email_usu = "erro";
                    msgErro.email_usu = itemErro.msg
                    %>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo e-mail", "error", "center")                        
                    </script>
                    <%
                }
            })
        }
        
        if (dadosNotificacao) { 

            %>
            <script>
                    notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                    
                    if("<%= dadosNotificacao.tipo %>" == "success"){
                        setTimeout(function(){
                            window.location="/"
                        }, 3000)
                    }                        
            </script>
        <% } %>

        <form action="cadastro" method="post"  onsubmit="validarFormulario()">
                <p>
                    <input type="file" name="imagem-perfil_usu" id="imagem-perfil_usu" onchange="loadImg()">
                    <img class="img-perfil"  id="img-preview" src="<%= arquivo.imagem %>">
                </p>
                <p>
                    <input type="email" name="email_usu" placeholder="E-Mail:" id="email_usu" required maxlength="100">
                    <span> <%= msgErro.nome_usu %> </span> <b>*</b>
                </p>
                <p>
                    <input type="text" name="nome_usu" placeholder="Nome:" id="nome_usu"  value="<%= valores.nome_usu %>" class="<%= avisoErro.nome_usu %>" required maxlength="100" minlength="3">
                    <span> <%= msgErro.email_usu %> </span> <b>*</b>
                </p>
                <p>
                    <input type="password" name="senha_usu" placeholder="Senha:" id="senha_usu" required maxlength="30" minlength="8">
                    <span class="aviso">Não preencha este campo para manter a senha atual</span>
                </p>

                <button type="submit" id="cadastrar-bttn" value="Editar Perfil">
        </form>
</main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script src="script/script.js" defer></script>
    </body>
    </html>
    