<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="css/cabeçalho-rodape.css">
    <link rel="stylesheet" href="css/login-cadastro.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
    <script src="../../js/notify.js"></script>
</head>
<body>
<header>
    <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png" alt="Logo da empresa MUVALL"
            rel="prev"></a>

    <nav>
        <div id="menu-container">

            <div></div>
            <div></div>
            <div></div>


            <ul id="menu-items" class="NaoPropagar">
                <img src="imagem/delete.png" alt="Fechar" id="close">
                <li class="NaoPropagar"><a href="perfilUsuario" aria-label="Perfil" rel="next">Minha conta</a></li>
                <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                <li class="NaoPropagar"><a href="login">Entre</a></li>
                <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
            </ul>
        </div>
    </nav>
</header>

    <% 
        let avisoErro = {"email_usu":"", "senha_usu":""}
        let msgErro = {"email_usu":"", "senha_usu":""}
            if(listaErros){
                listaErros.errors.forEach(function(itemErro){
                    if(itemErro.path == "email_usu"){
                        avisoErro.email_usu = "erro";
                        msgErro.email_usu = itemErro.msg
                    }%>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo e-mail<br><%= itemErro.msg%>", "error", "center")                        
                    </script>
                    <%
                    if(itemErro.path == "senha_usu"){
                        avisoErro.senha_usu = "erro";
                        msgErro.senha_usu = itemErro.msg
                    }
                    %>
                    <script>
                        notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
                    </script>
                    <%  
                })
            }
            if (dadosNotificacao) { %>
                <script>
                        notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                        if("<%= dadosNotificacao.tipo %>" == "success"){
                            setTimeout(function(){window.location="/"}, 3000)
                        }                        
                </script>
            <% }
        %>

    <main>
        <h1>Login</h1><hr>
        <form action="login" method="post">
            <input type="email" name="email_usu" placeholder="E-Mail:" id="email_usu" 
            required maxlength="100" class="<%= avisoErro.email_usu %>"><br>
            <span>
                <%= msgErro.email %>
            </span><br>
            <input type="password" name="senha_usu" placeholder="Senha:" id="senha_usu" 
            required maxlength="30" minlength="8" class="<%=  avisoErro.senha_usu %>"><br>
            <span>
                <%= msgErro.senha_usu %>
            </span><br>
            <p>Não tem uma conta? <a href="cadastro">Cadastre-se</a></p>
            <button type="submit" id="login-btn">Entrar</button>
        </form>
    </main>
    <footer>
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="img/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="img/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>