<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Painel do Administrador</title>
        <link rel="stylesheet" href="css/cabeçalho-rodape.css">
        <link rel="stylesheet" href="css/style-padm_mb.css">
        <link rel="stylesheet" href="css/style-padm_pc.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css"/>
        <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
        <script src="../../js/notify.js"></script>
        <!-- <script src="js/delete_user.js" defer></script> -->
    </head>
<body>
    <% if (dadosNotificacao) { 

        %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout( 3000)
                }                        
        </script>
    <% } %>
    <header>
        <a id="topimg" href="/" aria-label="logo"><img src="imagem/LogoMuvall.png" alt="Logo da empresa MUVALL"
                rel="prev"></a>
    
        <nav>
            <div id="menu-container">
    
                <div></div>
                <div></div>
                <div></div>
    
    
                <ul id="menu-items" class="NaoPropagar">
                    <img src="imagem/delete.png" alt="Fechar" id="close">
                    <li class="NaoPropagar"><a href="perfilUsuario" aria-label="Perfil" rel="next">Minha conta</a></li>
                    <li class="NaoPropagar"><a href="anunciar">Anuncie</a></li>
                    <li class="NaoPropagar"><a href="faleConosco" aria-label="Fale conosco" rel="next">Fale Conosco</a></li>
                    <li class="NaoPropagar"><a href="login">Entre</a></li>
                    <li class="NaoPropagar"><a href="cadastro">Cadastre-se</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <table>
            <caption>Painel Administrativo</caption>
            <thead>
                <tr>
                    
                    <th>Tipo Usuário</th>
                    <th>Status</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <% usuarios.forEach(function(usuario, index) { %>
                    <tr>
                        
                        <td><% if (usuario.tipo_usuario === 1) { %>
                            Comum
                        <% } else if (usuario.tipo_usuario === 2) { %>
                            Administrador
                        <% } else if (usuario.tipo_usuario === 3) { %>
                            Administrador Tipo 2
                        <% } %>
                        </td>
                        <td><% if (usuario.status_usuario === 0) { %>
                            Inativo
                        <% } else if (usuario.status_usuario === 1) { %>
                            Ativo
                        <% } %></td>
                        <td><%=usuario.nome_usuario%></td>
                        <td><%=usuario.email_usuario%></td>
                        <td class="delete" onclick="abrirPopUp(<%= usuario.id_usuario %>)"><img src="imagem/lixeira.png" alt="Deletar"></td>
                    </tr>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="cadastrados-user">Usuários cadastrados: <span id="cadastrados"><%= totalUsuarios %></span></td>
                </tr>
            </tfoot>
        </table>

        <div class="pop-up">
            <div class="modal">
                <hr />
                    <h2>Você tem certeza que deseja continuar?</h2>
                    <span>Ao continuar o usuario selecionado será desativado!</span>
                <hr />
                <div class="btns">
                    <button class="btn-sim" onclick="desativarUsuario()">Sim</button>
                    <button class="btn-nao" onclick="closePopUp()">Não</button>
                </div>
            </div>
        </div>
        <script>
            function abrirPopUp(id) {
            const modal = document.querySelector(".pop-up");
          
            modal.setAttribute('data-usuario-id', id);
            modal.classList.add('active');
          }
          
          function abrirPopUpR(id) {
            const modal = document.querySelector("#reactivate-popup");
          
            modal.setAttribute('data-usuario-id', id);
            modal.classList.add('active');
          }
          
          function closePopUpR() {
                document.querySelector("#reactivate-popup").removeAttribute("data-usuario-id");
                document.querySelector("#reactivate-popup").classList.remove("active");
              }
            
              // Função para fechar o pop-up de confirmação
              function closePopUp() {
                document.querySelector(".pop-up").removeAttribute("data-usuario-id");
                document.querySelector(".pop-up").classList.remove("active");
              }
            
              // Função para desativar o usuário
              async function desativarUsuario() {
                const modal = document.querySelector(".pop-up");
                const userIdToDelete = modal.getAttribute("data-usuario-id");
            
                if (userIdToDelete) {
                  try {
                    const response = await fetch(`/desativar-usuario/${userIdToDelete}`, {
                      method: "POST",
                    });
            
                    if (response.ok) {
                      // O usuário foi desativado com sucesso, você pode atualizar a tabela ou fazer ações apropriadas
                    } else {
                      console.error("Erro ao desativar o usuário:", response.statusText);
                      console.log("Erro ao desativar o usuário:", error);
                    }
                  } catch (error) {
                    console.error("Erro ao desativar o usuário:", error);
                    console.log("Erro ao desativar o usuário:", error);
                  }
            
                  closePopUp();
                  location.reload();
                }
              }
        </script>
    </main>


    <footer style="position: absolute; bottom: 0;">
        <img src="imagem/LogoMuvall.png" alt="Logo MUVall">
        <a href="faleConosco">Fale conosco</a>
        <div id="cadastro-rodape">
            <h2>Cadastro</h2>
            <ul>
                <li><a href="cadastro" rel="next">Usuário</a></li>
                <li><a href="cadastro-anunciante" rel="next">Anunciante</a></li>
            </ul>
        </div>
        <div id="redesSociais">
            <h2>Redes sociais</h2>
            <a href="https://instagram.com"><img src="imagem/instagram.png" alt="Logo Instagram" target="_blank" rel="external"></a>
            <a href="https://instagram.com"><img src="imagem/linkedin.png" alt="Logo Facebook" target="_blank" rel="external"></a>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>